<!--
<div class="wrapper">
  <div class="container form-container">
    <form #form="ngForm" novalidate="">
      <div class="form-group inputBox" [class.has-error]="firstName.touched && firstName.dirty && firstName.invalid">
        <label class="control-label" for="firstName" [class.getSmall]="labelPositioning">First Name</label>
        <input required class="form-control" id="firstName" type="text" name="firstName" #firstName="ngModel" [(ngModel)]="employee.firstName"
          (focus)="focusInput($event)" (blur)="blurInput(firstName.value)">
      </div>
      <button type="submit" class="form-control text-uppercase" [disabled]="form.invalid">send</button>
    </form>
  </div>
  <div class="container">
    <input type="text" id="message" placeholder="Chat here..." (keyup.enter)="chatSend($event.target.value)" [(ngModel)]="msgVal"
    />
    <div class="chat-container" *ngFor="let item of items | async">
      <p (click)="editMessage()">{{item.message}}</p>
      <input type="text" name="editter" #editter (keyup.enter)="updateMsg(item.$key, editter.value)" *ngIf="edit" >
    </div>
  </div>
</div>
-->
<router-outlet></router-outlet>